@keyframes fadeIn {
    from {
      opacity: 0.8;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-image {
    animation: fadeIn 6s ease-out infinite; 
  }

  @media only screen and (max-width: 730px){
    .mainPage{
      padding: 4px;
    }
    .word{
 font-size: small;
 padding: 0px;
    }
   
  }